{% extends "bmnc5d/layout/baseAwal.html" %}
{% load staticfiles %}

{% block style %}
<style type="text/css">
  .btn {
    font-size: 16px;
  }
  h5 {
    font-size: 18px;
  }
  #judul {
    font-size: 18px;
  }
  h2 {
    font-size: 24px;
  }
</style>
{% endblock %}

{% block content %}
<div class="py-5" style="background-image:url(https://i.pinimg.com/originals/fc/05/09/fc050933c0b1056dd78bc25e447da02a.jpg); background-size:cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-3"> </div>
      <div class="col-md-6">
        <div class="card text-white p-5 bg-ligt">
          <div class="card-body text-dark">
            <h1 class="mb-4">Log In</h1>
            <form action="{% url 'login-data' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ login_form.username.id_for_label }}">{{login_form.username.label}}</label>
                        {{login_form.username}}
                </div>
                <div class="form-group">
                <label for="{{ login_form.password.id_for_label }}">{{login_form.password.label}}</label>
                        {{login_form.password}}
              <button type="submit" class="btn btn-secondary">Log In</button>
            </form>
            <p class="">Doesn't have an account?
              <a class="text-dark" href="/register">Register here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}