<div class="text-white bg-dark" >
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-primary" id="footer-label">BMNC</h2>
          <p class="text-white">Lorem ipsum dolor sit amet, ut ullum denique accommodare vel. Amet reprehendunt te vix.</p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-primary" id="footer-label">Basis Data</h2>
          <ul class="list-unstyled">
            <a href="#" class="text-white">Home</a>
            <br>
            <a href="#" class="text-white">About us</a>
            <br>
            <a href="#" class="text-white">Our services</a>
            <br>
            <a href="#" class="text-white">Stories</a>
          </ul>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-primary" id="footer-label">Contributors</h2>
          <p> Farah Alhaniy
            <br>Firandra Savitri
            <br>Metta Anantha</p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-primary" id="footer-label">Get to know us</h2>
          <form>
            <fieldset class="form-group text-white">
              <label for="exampleInputEmail1">Let's be friends! We don't bite.</label>
              <input type="email" class="form-control" placeholder="Enter email"> </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-primary">© Copyright 2017 Pingendo - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>