{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
  p, ul, label, input {
    font-size: 14px;
  }
  .navbar-brand {
    font-size: 20px;
  }
  li {
    font-size: 14px;
  }
  #footer-label {
    font-size: 20px;
  }
</style>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="link u">
   <meta name="author" content="{{author}}">
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
   <link rel="stylesheet" type="text/css" href="{% static 'css/ba.css' %}" />
   {% block style %}
   {% endblock %}
   <title>
      {% block title %}
      {% endblock %}
   </title>
</head>
<body>
   <header>
        {% include "bmnc5d/partials/headerAwal.html" %}
   </header>
   <content>
           {% block content %}
           {% endblock %}
   </content>
   <footer class = "footer">
       {% include "bmnc5d/partials/footer.html" %}
   </footer>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   {% block javascript %}
   {% endblock %}
</body>
</html>