{% extends "bmnc5d/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block style %}
<style type="text/css">
  .btn {
    font-size: 16px;
  }
  h5 {
    font-size: 18px;
  }
  #judul {
    font-size: 18px;
  }
  h2 {
    font-size: 24px;
  }
</style>
{% endblock %}

{% block content %}

<!-- Cover -->
<div class="section-fade-out pt-5 bg-light cover animate-in-down animate-in-left animate-in-right" style=" background-size:fit;">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 my-5 text-lg-left text-center align-self-center">
        <h1 class="display-1 text-secondary">BERITA</h1>
        <a href="#book" class="btn btn-lg btn-dark my-3">Tambah Berita</a>
        <div class="row mt-5">
          <div class="col-6 col-lg-4">
            <a href="#">
              <img> </a>
          </div>
          <div class="col-6 col-lg-4">
            <a href="#">
              <img> </a>
          </div>
        </div>
      </div>
      <div class="col-md-5 order-2 order-md-1 animate-in-left">
        <img class="d-block rounded-circle img-fluid mx-auto py-5" src="https://image.freepik.com/free-vector/hand-with-big-pen_1325-354.jpg" width="300" height="-"> </div>
    </div>
  </div>
</div>
<!-- Book section -->
<div class="py-5 section-fade-in-out bg-light my-5" id="book">
  <div class="container">
    <div class="row animate-in-down">
      <div class="col-xl-11 mx-auto h-75 col-md-12">


        <form class="p-4 bg-primary shadowed w-100 h-60" method="post" action="{% url 'addBerita' %}">
        {% csrf_token %}

          <h4 class="mb-4 text-center text-secondary">
            <mark class="display-4 secondary text-secondary text-center text-capitalize">Tambah Artikel</mark>
          </h4>
          
          <div class="form-group">
            <label>Judul</label>
            {{ form_berita.Judul }}
          </div>
          <div class="form-group">
            <label>URL</label>
            {{form_berita.Url}}
          </div>
          <div class="form-group">
            <label>Topik</label>
            {{form_berita.Topik}}
          </div>
          <div class="form-group">
            <label>Jumlah Kata</label>
            {{ form_berita.JumlahKata }}
          </div>
          <div class="form-group">
            <label>Tag</label>
            {{form_berita.Tag}} 
          </div>
          <button type="submit" class="btn mt-4 btn-block p-2 btn-dark" data-toggle="modal" data-target="#my-modal">
            <b>SUBMIT</b>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}