{% extends "bmnc5d/layout/base.html" %}
{% load staticfiles %}

{% block style %}
<style type="text/css">
  table {
    font-size: 14px;
  }
  #det {
    font-size: 16px;
  }
  .btn {
    font-size: 16px;
  }
  h5 {
    font-size: 18px;
  }
</style>
{% endblock %}

{% block content %}
<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-4 bg-secondary align-self-center">
          <img class="img-fluid d-block rounded-circle border p-1 border-light" src="https://www.theplace2.ru/archive//img/square.jpg">
          <h1 class="text-light my-1 text-center" id="name">Tom Holland</h1>
          <p class="lead text-center text-white" id="det">@TomHolland1996
            <br>Mahasiswa</p>
          <a class="btn btn-dark text-center align-items-center justify-content-center align-self-center d-flex" href="#" id="button-berita">Lihat Berita</a>
        </div>
        <div class="col-md-8">
          <h1 class="my-4 text-primary">Profile</h1>
          <table class="table">
            <tbody>
              <tr>
                <td class="identifier">NPM</td>
                <td>14052757</td>
              </tr>
              <tr>
                <td class="identifier">Tempat Lahir</td>
                <td>Kingston-upon-Thames, Surrey</td>
              </tr>
              <tr>
                <td class="identifier">Tanggal Lahir</td>
                <td>1 Juni 1996</td>
              </tr>
              <tr>
                <td class="identifier">Email</td>
                <td>tomholland@spidey.com</td>
              </tr>
              <tr>
                <td class="identifier">Nomor HP</td>
                <td>+82 7472938</td>
              </tr>
              <tr>
                <td class="identifier">Status Kemahasiswaan</td>
                <td>Aktif</td>
              </tr>
              <tr>
                <td class="identifier">Jumlah Berita</td>
                <td>6</td>
              </tr>
              <tr>
                <td class="identifier">Rerata Kata</td>
                <td>540</td>
              </tr>
              <tr>
                <td class="identifier">Universitas</td>
                <td>Wimbledon College</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}