{% extends "bmnc5d/layout/base.html" %}
{% load staticfiles %}

{% block style %}
<style type="text/css">
  .btn {
    font-size: 16px;
  }
  h5 {
    font-size: 18px;
  }
  #judul {
    font-size: 18px;
  }
  h2 {
    font-size: 24px;
  }
</style>
{% endblock %}

{% block content %}
<!-- Cover -->
<div class="section-fade-out pt-5 bg-light cover animate-in-down animate-in-left animate-in-right" style=" background-size:cover;">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 my-5 text-lg-left text-center align-self-center">
        <h1 class="display-1 text-secondary">POLLING BIASA</h1>
        <a href="#book" class="btn btn-lg btn-dark my-3">Tambah Polling</a>
        <div class="row mt-5">
          <div class="col-6 col-lg-4">
            <a href="#">
              <img> </a>
          </div>
          <div class="col-6 col-lg-4">
            <a href="#">
              <img> </a>
          </div>
        </div>
      </div>
      <div class="col-md-5 order-2 order-md-1 animate-in-left">
        <img class="d-block rounded-circle img-fluid mx-auto py-5" src="https://image.freepik.com/free-vector/key-notes-concept_1325-45.jpg" width="300" height="-"> </div>
    </div>
  </div>
</div>
<!-- Book section -->
<div class="py-5 section-fade-in-out bg-light my-5 h-100" id="book">
  <div class="container">
    <div class="row animate-in-down">
      <div class="col-xl-11 mx-auto h-75">

        <form class="p-4 bg-primary shadowed w-100 h-60" method="post" action="{% url 'addPolBiasa' %}">
          {% csrf_token %}
          <h4 class="mb-4 text-center text-secondary">
            <mark class="display-4 secondary text-secondary text-center text-capitalize">Polling Form</mark>
          </h4>
          <div class="form-group">
            <label>Deskripsi</label>
            {{ form_pol.Deskripsi }}
            </div>
          <div class="form-group">
            <label>Waktu Mulai</label>
            {{ form_pol.StartDate }}
            </div>
          <div class="form-group">
            <label>Waktu Selesai</label>
            {{ form_pol.EndDate }}
            </div>
          <div class="form-group">
            <label>Pertanyaan1</label>
            <input class="form-control" placeholder="Type here"> </div>
          <div class="form-group">
            <label>Pertanyaan2</label>
            <input class="form-control" placeholder="Type here"> </div>
          <div class="form-group">
            <label>Pertanyaan3</label>
            <input class="form-control" placeholder="Type here"> </div>
          <button type="submit" class="btn mt-4 btn-block p-2 btn-dark" data-toggle="modal" data-target="#my-modal">
            <b>SUBMIT</b>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal bg-light" id="my-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="my-modal">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span class="close">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Sistem akan menyimpan data polling kedalam database.</p>
      </div>
    </div>
  </div>
</div>
<!-- Script: Smooth scrolling between anchors in a same page -->
<script src="js/smooth-scroll.js"></script>

{% endblock %}