{% extends "bmnc5d/layout/base.html" %}
{% load staticfiles %}

{% block style %}
<style type="text/css">
  .btn {
    font-size: 16px;
  }
  h5 {
    font-size: 18px;
  }
  #judul {
    font-size: 18px;
  }
  h2 {
    font-size: 24px;
  }
</style>
{% endblock %}

{% block content %}
<div class="p-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center text-primary">Berita yang ditulis Tom Holland</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 p-3">
              <div class="col-md-12 align-self-center">
                <p class="lead text-secondary d-flex justify-content-center" id="judul">Judul Berita #1</p>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed est ac lorem suscipit tincidunt. Phasellus id mi a magna vestibulum sagittis.</p>
                <p class = "text-primary">#Topik</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12 p-3">
                <p class="lead text-secondary d-flex justify-content-center" id="judul">Judul Berita #2</p>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed est ac lorem suscipit tincidunt. Phasellus id mi a magna vestibulum sagittis.</p>
                <p class = "text-primary">#Topik</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 p-3">
              <div class="col-md-12">
                <p class="lead text-secondary d-flex justify-content-center" id="judul">Judul Berita #3</p>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed est ac lorem suscipit tincidunt. Phasellus id mi a magna vestibulum sagittis.</p>
                <p class = "text-primary">#Topik</p>
              </div>
            </div>
            <div class="col-md-6 p-3">
              <div class="col-md-12">
                <p class="lead text-secondary d-flex justify-content-center" id="judul">Judul Berita #4</p>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed est ac lorem suscipit tincidunt. Phasellus id mi a magna vestibulum sagittis.</p>
                <p class = "text-primary">#Topik</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}