{% extends "bmnc5d/layout/base.html" %}
{% load staticfiles %}

{% block style %}
<style type="text/css">
  .btn {
    font-size: 16px;
  }
  h5 {
    font-size: 18px;
  }
</style>
{% endblock %}

{% block content %}
<div class="py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary">Polling yang sedang berjalan</h1>
          <div class="row text-left mt-5">
            <div class="col-md-4 my-3 p-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-secondary d-flex justify-content-center">
                    <b>Judul Polling</b>
                  </h5>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, ut ullum denique accommodare vel. Amet reprehendunt te vix.</p>
              <a class="btn btn-dark d-flex justify-content-center" href="#">Isi Polling</a>
            </div>
            <div class="col-md-4 my-3 p-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-secondary d-flex justify-content-center">
                    <b>Judul Polling</b>
                  </h5>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, ut ullum denique accommodare vel. Amet reprehendunt te vix.</p>
              <a class="btn d-flex justify-content-center btn-dark" href="#">Isi Polling</a>
            </div>
            <div class="col-md-4 my-3 p-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-secondary d-flex justify-content-center">
                    <b>Judul Polling</b>
                  </h5>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, ut ullum denique accommodare vel. Amet reprehendunt te vix.</p>
              <a class="btn d-flex justify-content-center btn-dark" href="#">Isi Polling</a>
            </div>
            <div class="col-md-4 my-3 p-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-secondary d-flex justify-content-center">
                    <b>Judul Polling</b>
                  </h5>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, ut ullum denique accommodare vel. Amet reprehendunt te vix.</p>
              <a class="btn btn-dark d-flex justify-content-center" href="#">Isi Polling</a>
            </div>
            <div class="col-md-4 my-3 p-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-secondary d-flex justify-content-center">
                    <b>Judul Polling</b>
                  </h5>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, ut ullum denique accommodare vel. Amet reprehendunt te vix.</p>
              <a class="btn btn-dark d-flex justify-content-center" href="#">Isi Polling</a>
            </div>
            <div class="col-md-4 my-3 p-3">
              <div class="row mb-3">
                <div class="align-self-center col-10 col-md-12">
                  <h5 class="text-secondary d-flex justify-content-center">
                    <b>Judul Polling</b>
                  </h5>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, ut ullum denique accommodare vel. Amet reprehendunt te vix.</p>
              <a class="btn btn-dark d-flex justify-content-center" href="#">Isi Polling</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}